# I. Perkenalan
- Nama : Kevin Gusti Arswendy
- Program : Data Science
- Batch : 006
- Kampus : Hacktiv8 Pondok Indah

Import Library :

In [1]:
import pandas as pd

Load Data :

In [4]:
df = pd.read_excel('https://github.com/kevingst8/H8DSFT006_LC1/blob/main/NMC1-9.xlsx?raw=true')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

A. Hambatan (R) dan Daya (p)

In [8]:
# Fungsi Hambatan

def R(V, I):
  result = V/I
  return result

In [9]:
# Fungsi Daya

def P(V, I):
  return V*I

In [10]:
R(7, 1)

7.0

In [22]:
def tambah(a, b):
  hasil = a + b
  print(hasil)

res = tambah(1, 1)
res
type(res)

2

NoneType

In [29]:
def tambah_ret(a, b):
  hasil = a + b
  return hasil

res1 = tambah_ret(3, 4)
res1

7

In [33]:
res1 + 7

14

In [34]:
type(res1)

int

B. Kolom R/P (Kapasitas >= 2.5 hitung daya, Kapasitas <2.5 nilai hambatan)
   Hint : Menggunakan for loop dan if

In [35]:
df.head(3)

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817

In [37]:
hasil = []
for index, row in df.iterrows():
  if row['Cap'] >= 2.5:
    c = resistansi(row['V_m'], row['Current (A)'])
    hasil.append(c)
  else:
    d = hambatan(row['V_m'], row['Current (A)'])
    hasil.append(d)

df["R/P"] = hasil
df

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

C. Menghitung rata-rata nilai kapasitas arus = 1 Ampere dan cycle ganjil.

In [40]:
df.head(2)

   time(s)    V_m  Current (A)  Cycle       Cap       R/P
0        0  4.098        0.997      1  2.840817  4.085706
1        1  4.096        0.998      1  2.840817  4.087808

In [41]:
df[(df['Current (A)'] == 1) &
(df['Cycle']%2 == 1)]['Cap'].mean()

2.8064845553927484

In [42]:
df['Cycle']

0        1
1        1
2        1
3        1
4        1
        ..
90977    9
90978    9
90979    9
90980    9
90981    9
Name: Cycle, Length: 90982, dtype: int64